body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: rgb(255, 254, 254);
}
body.dark {
  background-color: rgb(17, 16, 16); /* Dark mode background color */
}

#board {
  background: radial-gradient(
    circle,
    rgb(221, 216, 213) 0%,
    rgb(121, 115, 114) 100%
  );
  position: relative;
  top: 20vh;
  border-bottom: 1px solid black;
}
.dark #board {
  background: radial-gradient(
    circle,
    rgb(221, 216, 213) 0%,
    rgb(121, 115, 114) 100%
  );
  border: 1px solid white; /* Optional: Change border color in dark mode */
}

.header {
  color: rgb(0, 0, 0);
  position: relative;
  top: -1vh;
  height: 4vh;
  border-bottom: solid 1px rgb(8, 8, 8);
  text-indent: -2200px;
}

.dark .header {
  border-bottom: solid 1px rgb(247, 241, 241);
}

.search-container {
  position: relative;
  width: 300px;
  top: -89px;
  height: 28px;
  left: 2200px;
  background-color: rgba(212, 203, 203, 0.5);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.dark .search-container {
  background-color: rgba(145, 136, 136, 0.5);
}
.search-container input[type="text"] {
  padding: 6px;
  position: relative;
  top: -10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  outline: none;
  background: none;
  color: #141414;
}

.search-container button {
  position: relative;
  left: 10px;
  top: -10px;
  width: 45px;
  height: 30px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #0f0d0d;
  border-radius: 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.dark .search-container button {
  background-color: white;
}
.search-container button:hover {
  background: #6b78a3;
}

body.dark .header {
  color: rgb(255, 255, 255); /* Dark mode header color */
}

.mode {
  color: #000000;
  font-family: "Titillium Web", sans-serif;
  width: 20vh;
  position: relative;
  left: 170vh;
  top: -20vh;
  height: 5vh;
  z-index: 2;
  font-size: 1.5rem;
}
.dark .mode {
  color: white;
}
.change {
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
  border: 0.1rem solid #555;
  border-radius: 40%;
  width: 5vh;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
