body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: rgb(250, 242, 242);
}

#board {
  background: radial-gradient(
    circle,
    rgb(221, 216, 213) 0%,
    rgb(121, 115, 114) 100%
  );
  position: relative;
  top: 20vh;
  border-bottom: 1px solid black;
}
.dark #board {
  background: radial-gradient(
    circle,
    rgb(221, 216, 213) 0%,
    rgb(121, 115, 114) 100%
  );
  border: 1px solid white; /* Optional: Change border color in dark mode */
}
body.dark {
  background-color: rgb(59, 57, 57); /* Dark mode background color */
}

.header {
  color: black;
  position: relative;
  top: 10vh;
}
body.dark .header {
  color: rgb(255, 255, 255); /* Dark mode header color */
}

.mode {
  float: black;

  font-family: "Titillium Web", sans-serif;
  width: 20vh;
  position: relative;
  left: 170vh;
  top: -20vh;
  height: 5vh;
  z-index: 2;
  font-size: 1.5rem;
}
.modedark {
  color: white;
}
.change {
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
  border: 0.1rem solid #555;
  border-radius: 40%;
  width: 5vh;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
